# Regular Expression

In [2]:
# regex >>> Regular Expression
import re

In [ ]:
useful for text processing, identifing patterns, text cleaning

10000 bank statements  

IFSC code    (SBIN00 +branch code)  (A-Z,0-9)
email_id     (user@damain)(A-Z,a-z,@,)
Acc_num      (0-9)

In [ ]:
KYC Docs

Adhaar card  (12 digit)
PAN card (A-Z,0-9,A-Z)
Passport Num: RY02154587

In [ ]:
i/p : text, (pan >>> image>> text )

In [ ]:
Reg. Exp >> It is the sequence of characters used to check whether the given 
pattern is in given string/text


we can extract useful data

# Regular Expression Functions

In [ ]:
1. findall()
2. sub()
3. match()
4. search()
5. compile()
6. split()

# 1. findall()

In [ ]:
import re
re.findall("pattern",text/string)

Return >> List of all matches

In [3]:
text = """Mobile Number is :
        9988554477
        9845783257
        Email id : virat@gmail.com
        todays date is : 24-08-2022"""

mobile_num = re.findall('[0-9]{10}',text)

print(mobile_num)

['9988554477', '9845783257']

In [5]:
text = """Mobile Number is :
        9988554477
        984578325 7
        8856457858
        Email id : virat@gmail.com
        todays date is : 24-08-2022"""

mobile_num = re.findall('[0-9]{9}',text)

print(mobile_num)

['998855447', '984578325']

In [8]:
text = """Mobile Number is :
        9988554477
        9845783257
        8856457858
        Email id : virat@gmail.com
        todays date is : 24-08-2022"""

mobile_num = re.findall('[0-9]{5}',text)

print(mobile_num)

['99885', '54477', '98457', '83257', '88564', '57858']

In [9]:
text = """Mobile Number is :
        9988554477
        9845783257
        8856457858
        Email id : virat@gmail.com
        todays date is : 24-08-2022"""

mobile_num = re.findall('[0-9]{2}',text)

print(mobile_num)

['99', '88', '55', '44', '77', '98', '45', '78', '32', '57', '88', '56', '45', '78', '58', '24', '08', '20', '22']

In [11]:
text = """Mobile Number is :
        99 8855447 7
        9845783257
        8 856457858
        Email id : virat@gmail.com
        todays date is : 24-08-2022"""

mobile_num = re.findall('[0-9]{3}',text)

print(mobile_num)

['885', '544', '984', '578', '325', '856', '457', '858', '202']

In [12]:
text = """Mobile Number is :
        9988554477
        9845783257
        8856457858
        Email id : virat@gmail.com
        todays date is : 24-08-2022 
        """

mobile_num = re.findall('[0-9]{4}',text)

print(mobile_num)

['9988', '5544', '9845', '7832', '8856', '4578', '2022']

In [13]:
text = """Mobile Number is :
        99 8855447 7
        9845783257
        8 856457858
        Email id : virat@gmail.com
        todays date is : 24-08-2022
        15-08-2022
        14-05-2000
        01-01-2030"""

Dates = re.findall('[0-9]{2}[-][0-9]{2}[-][0-9]{4}',text)

print(Dates)

['24-08-2022', '15-08-2022', '14-05-2000', '01-01-2030']

In [14]:
text = """Mobile Number is :
        99 8855447 7
        9845783257
        8 856457858
        Email id : virat@gmail.com
        todays date is : 24-08-2022
        15/08/2022
        14-05-2000
        01-01-2030"""

Dates = re.findall('[0-9]{2}[-][0-9]{2}[-][0-9]{4}',text)

print(Dates)

['24-08-2022', '14-05-2000', '01-01-2030']

In [15]:
text = """Mobile Number is :
        99 8855447 7
        9845783257
        8 856457858
        Email id : virat@gmail.com
        todays date is : 24-08-2022
        15/08/2022
        14-05-2000
        01-01-2030"""

Dates = re.findall('[0-9]{2}[-/][0-9]{2}[-/][0-9]{4}',text)

print(Dates)

['24-08-2022', '15/08/2022', '14-05-2000', '01-01-2030']

In [21]:
text = """Mobile Number is :
        99 8855447 7
        9845783257
        8 856457858
        Email id : virat@gmail.com
        todays date is : 24-08-2022
        15/08/2022
        14-05-2000
        01-01-2030"""

email = re.findall('[a-z]{4,15}[@][a-z]{3,15}[.][a-z]{3,15}',text)

print(email)

['virat@gmail.com']

In [22]:
text = """Mobile Number is :
        99 8855447 7
        9845783257
        8 856457858
        Email id : virat@gmail.com
        vi-rat125@gmail.com
        virat_1234@gmail.com
        virat.kohali@gmail.com
        todays date is : 24-08-2022
        15/08/2022
        14-05-2000
        01-01-2030"""

email = re.findall('[0-9a-z._-]{5,20}[@][a-z.]{3,20}',text)

print(email)     #gmail.com   [a-z.]

['virat@gmail.com', 'vi-rat125@gmail.com', 'virat_1234@gmail.com', 'virat.kohali@gmail.com']

In [24]:
text = """Mobile Number is :
        99 8855447 7
        9845783257
        8 856457858
        Email id : virat@gmail.com
        vi-rat125@gmail.com
        virat_1234@gmail.com
        virat.kohali@gmail.com
        todays date is : 24-08-2022
        15/08/2022
        14-05-2000
        01-01-2030
        ASZFG4578K
        KONBV8578L
        AKNPY7845L
        KTNBH4512S
        """

PAN = re.findall('[A-Z]{5}[0-9]{4}[A-Z]{1}',text)

print(PAN)

['ASZFG4578K', 'KONBV8578L', 'AKNPY7845L', 'KTNBH4512S']

In [26]:
text = """Mobile Number is :
        99 8855447 7
        9845783257
        8 856457858
        Email id : virat@gmail.com
        ASZFG4578K@gmail.com
        virat_1234@gmail.com
        virat.kohali@gmail.com
        todays date is : 24-08-2022
        15/08/2022
        14-05-2000
        01-01-2030
        
        KONBV8578L
        AKNPY7845L
        KTNBH4512S
        4512HKTNBS
        """

PAN = re.findall('[A-Z0-9]{9}[A-Z]{1}',text)

print(PAN)

['ASZFG4578K', 'KONBV8578L', 'AKNPY7845L', 'KTNBH4512S', '4512HKTNBS']

In [27]:
text = """Mobile Number is :
        99 8855447 7
        9845783257
        8 856457858
        Email id : virat@gmail.com
        vi-rat125@gmail.com
        virat_1234@gmail.com
        virat.kohali@gmail.com
        todays date is : 24-08-2022
        15/08/2022
        14-05-2000
        01-01-2030
        ASZFG4578K
        KONBV8578L
        AKNPY7845L
        KTNBH4512S
        
        1234 4678 5245 
        5263 4568 4578
        9578 1008 2351
        4521 2005 1008
        """

ADHAR = re.findall('[0-9]{4}[ ][0-9]{4}[ ][0-9]{4}',text)

print(ADHAR)

['1234 4678 5245', '5263 4568 4578', '9578 1008 2351', '4521 2005 1008']

## Special Sequences

### 1. \d

In [ ]:
\d >>> [0-9]

In [28]:
text = """Mobile Number is :
        99 8855447 7
        9845783257
        8 856457858
        Email id : virat@gmail.com
        vi-rat125@gmail.com
        virat_1234@gmail.com
        virat.kohali@gmail.com
        todays date is : 24-08-2022
        15/08/2022
        14-05-2000
        01-01-2030
        ASZFG4578K
        KONBV8578L
        AKNPY7845L
        KTNBH4512S
        
        1234 4678 5245 
        5263 4568 4578
        9578 1008 2351
        4521 2005 1008
        """

ADHAR = re.findall('\d{4}[ ]\d{4}[ ]\d{4}',text)

print(ADHAR)

['1234 4678 5245', '5263 4568 4578', '9578 1008 2351', '4521 2005 1008']

In [30]:
text = """Mobile Number is :
        99 8855447 7
        9845783257
        8 856457858
        Email id : virat@gmail.com
        vi-rat125@gmail.com
        virat_1234@gmail.com
        virat.kohali@gmail.com
        todays date is : 24-08-2022
        15/08/2022
        14-05-2000
        01-01-2030
        ASZFG4578K
        KONBV8578L
        AKNPY7845L
        KTNBH4512S
        
        1234 4678 5245 
        5263 4568 4578
        9578 1008 2351
        4521 2005 1008
        """

two = re.findall('\d{5}',text)

print(two)

['88554', '98457', '83257', '85645']

In [31]:
text = """Mobile Number is :
        99 8855447 7
        9845783257
        8 856457858
        Email id : virat@gmail.com
        vi-rat125@gmail.com
        virat_1234@gmail.com
        virat.kohali@gmail.com
        todays date is : 24-08-2022
        15/08/2022
        14-05-2000
        01-01-2030
        ASZFG4578K
        KONBV8578L
        AKNPY7845L
        KTNBH4512S
        
        1234 4678 5245 
        5263 4568 4578
        9578 1008 2351
        4521 2005 1008
        """

four = re.findall('\d{4}',text)

print(four)

['8855', '9845', '7832', '8564', '5785', '1234', '2022', '2022', '2000', '2030', '4578', '8578', '7845', '4512', '1234', '4678', '5245', '5263', '4568', '4578', '9578', '1008', '2351', '4521', '2005', '1008']

### 2. \D

In [ ]:
\D >>> except [0-9]
\D >>> [^0-9]

In [32]:
text = """Mobile Number is :
        99 8855447 7
        9845783257
        8 856457858
        Email id : virat@gmail.com
        vi-rat125@gmail.com
        virat_1234@gmail.com
        virat.kohali@gmail.com
        todays date is : 24-08-2022
        15/08/2022
        14-05-2000
        01-01-2030
        ASZFG4578K
        KONBV8578L
        AKNPY7845L
        KTNBH4512S
        
        1234 4678 5245 
        5263 4568 4578
        9578 1008 2351
        4521 2005 1008
        """

four = re.findall('\D',text)

print(four)

['M', 'o', 'b', 'i', 'l', 'e', ' ', 'N', 'u', 'm', 'b', 'e', 'r', ' ', 'i', 's', ' ', ':', '\n', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', '\n', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', '\n', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', '\n', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', 'E', 'm', 'a', 'i', 'l', ' ', 'i', 'd', ' ', ':', ' ', 'v', 'i', 'r', 'a', 't', '@', 'g', 'm', 'a', 'i', 'l', '.', 'c', 'o', 'm', '\n', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', 'v', 'i', '-', 'r', 'a', 't', '@', 'g', 'm', 'a', 'i', 'l', '.', 'c', 'o', 'm', '\n', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', 'v', 'i', 'r', 'a', 't', '_', '@', 'g', 'm', 'a', 'i', 'l', '.', 'c', 'o', 'm', '\n', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', 'v', 'i', 'r', 'a', 't', '.', 'k', 'o', 'h', 'a', 'l', 'i', '@', 'g', 'm', 'a', 'i', 'l', '.', 'c', 'o', 'm', '\n', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', 't', 'o', 'd', 'a', 'y', 's', ' ', 'd', 'a', 't', 'e', ' ', 'i', 's', ' ', ':', ' ', '-', '-', '\n', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', '/', '/', '\n', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', '-', '-', '\n', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', '-', '-', '\n', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', 'A', 'S', 'Z', 'F', 'G', 'K', '\n', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', 'K', 'O', 'N', 'B', 'V', 'L', '\n', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', 'A', 'K', 'N', 'P', 'Y', 'L', '\n', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', 'K', 'T', 'N', 'B', 'H', 'S', '\n', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', '\n', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', '\n', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', '\n', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', '\n', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', '\n', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']

In [33]:
text = """Mobile Number is :
        99 8855447 7
        9845783257
        8 856457858
        Email id : virat@gmail.com
        vi-rat125@gmail.com
        virat_1234@gmail.com
        virat.kohali@gmail.com
        todays date is : 24-08-2022
        15/08/2022
        14-05-2000
        01-01-2030
        ASZFG4578K
        KONBV8578L
        AKNPY7845L
        KTNBH4512S
        
        1234 4678 5245 
        5263 4568 4578
        9578 1008 2351
        4521 2005 1008
        """

four = re.findall('\D{4}',text)

print(four)

['Mobi', 'le N', 'umbe', 'r is', ' :\n ', '    ', '\n   ', '    ', '\n   ', '    ', '\n   ', '    ', ' Ema', 'il i', 'd : ', 'vira', 't@gm', 'ail.', 'com\n', '    ', '    ', 'vi-r', '@gma', 'il.c', 'om\n ', '    ', '   v', 'irat', '@gma', 'il.c', 'om\n ', '    ', '   v', 'irat', '.koh', 'ali@', 'gmai', 'l.co', 'm\n  ', '    ', '  to', 'days', ' dat', 'e is', '\n   ', '    ', '\n   ', '    ', '\n   ', '    ', '\n   ', '    ', ' ASZ', 'K\n  ', '    ', '  KO', 'L\n  ', '    ', '  AK', 'L\n  ', '    ', '  KT', 'S\n  ', '    ', '  \n ', '    ', ' \n  ', '    ', '\n   ', '    ', '\n   ', '    ', '\n   ', '    ']

In [35]:
text = """Mobile Number is :
        99 8855447 7
        9845783257
        8 856457858
        Email id : virat@gmail.com
        vi-rat125@gmail.com
        virat_1234@gmail.com
        virat.kohali@gmail.com
        todays date is : 24-08-2022
        15/08/2022
        14-05-2000
        01-01-2030
        ASZFG4578K
        KONBV8578L
        AKNPY7845L
        KTNBH4512S
        
        1234 4678 5245 
        5263 4568 4578
        9578 1008 2351
        4521 2005 1008
        """

four = re.findall('\D{6}',text)

print(four)

['Mobile', ' Numbe', 'r is :', '\n     ', '\n     ', '\n     ', '\n     ', '   Ema', 'il id ', ': vira', 't@gmai', 'l.com\n', '      ', '  vi-r', '@gmail', '.com\n ', '      ', ' virat', '@gmail', '.com\n ', '      ', ' virat', '.kohal', 'i@gmai', 'l.com\n', '      ', '  toda', 'ys dat', 'e is :', '\n     ', '\n     ', '\n     ', '\n     ', '   ASZ', 'K\n    ', '    KO', 'L\n    ', '    AK', 'L\n    ', '    KT', 'S\n    ', '    \n ', '      ', ' \n    ', '\n     ', '\n     ', '\n     ']

In [37]:
text = """Da02ta science is an interdisciplinary field that 
uses scientific methods, processes, algorithms and systems to 
extract knowledge and insights from noisy, structured and unstructured 
data, and apply knowledge from data across a broad range of application domains"""

result = re.findall('\D{6}',text)
print(result)

['ta sci', 'ence i', 's an i', 'nterdi', 'scipli', 'nary f', 'ield t', 'hat \nu', 'ses sc', 'ientif', 'ic met', 'hods, ', 'proces', 'ses, a', 'lgorit', 'hms an', 'd syst', 'ems to', ' \nextr', 'act kn', 'owledg', 'e and ', 'insigh', 'ts fro', 'm nois', 'y, str', 'ucture', 'd and ', 'unstru', 'ctured', ' \ndata', ', and ', 'apply ', 'knowle', 'dge fr', 'om dat', 'a acro', 'ss a b', 'road r', 'ange o', 'f appl', 'icatio', 'n doma']

In [38]:
text = """Da02ta science is an interdisciplinary field that 
uses scientific methods, processes, algorithms and systems to 
extract knowledge and insights from noisy, structured and unstructured 
data, and apply knowledge from data across a broad range of application domains"""

result = re.findall('\D{2}',text)
print(result)

['Da', 'ta', ' s', 'ci', 'en', 'ce', ' i', 's ', 'an', ' i', 'nt', 'er', 'di', 'sc', 'ip', 'li', 'na', 'ry', ' f', 'ie', 'ld', ' t', 'ha', 't ', '\nu', 'se', 's ', 'sc', 'ie', 'nt', 'if', 'ic', ' m', 'et', 'ho', 'ds', ', ', 'pr', 'oc', 'es', 'se', 's,', ' a', 'lg', 'or', 'it', 'hm', 's ', 'an', 'd ', 'sy', 'st', 'em', 's ', 'to', ' \n', 'ex', 'tr', 'ac', 't ', 'kn', 'ow', 'le', 'dg', 'e ', 'an', 'd ', 'in', 'si', 'gh', 'ts', ' f', 'ro', 'm ', 'no', 'is', 'y,', ' s', 'tr', 'uc', 'tu', 're', 'd ', 'an', 'd ', 'un', 'st', 'ru', 'ct', 'ur', 'ed', ' \n', 'da', 'ta', ', ', 'an', 'd ', 'ap', 'pl', 'y ', 'kn', 'ow', 'le', 'dg', 'e ', 'fr', 'om', ' d', 'at', 'a ', 'ac', 'ro', 'ss', ' a', ' b', 'ro', 'ad', ' r', 'an', 'ge', ' o', 'f ', 'ap', 'pl', 'ic', 'at', 'io', 'n ', 'do', 'ma', 'in']

### 3. \w

In [ ]:
\w >>> [0-9a-zA-Z_]

In [39]:
text = """Da02ta science is an interdisciplinary field that 
uses scientific methods, processes, algorithms and systems to 
extract knowledge and insights from noisy, structured and unstructured 
data, and apply knowledge from data across a broad range of application domains"""

result = re.findall('\w{6}',text)
print(result)

['Da02ta', 'scienc', 'interd', 'iscipl', 'scient', 'method', 'proces', 'algori', 'system', 'extrac', 'knowle', 'insigh', 'struct', 'unstru', 'ctured', 'knowle', 'across', 'applic', 'domain']

In [40]:
text = """Da02ta scien_ce is an interdisciplinary field that 
uses scientific methods, processes, algorithms and systems to 
extract knowledge and insights from noisy, structured and unstructured 
data, and apply knowledge from data across a broad range of application domains"""

result = re.findall('\w{6}',text)
print(result)

['Da02ta', 'scien_', 'interd', 'iscipl', 'scient', 'method', 'proces', 'algori', 'system', 'extrac', 'knowle', 'insigh', 'struct', 'unstru', 'ctured', 'knowle', 'across', 'applic', 'domain']

In [41]:
text = """Da02t scien_ce is an interdisciplinary field that 
uses scientific methods, processes, algorithms and systems to 
extract knowledge and insights from noisy, structured and unstructured 
data, and apply knowledge from data across a broad range of application domains"""

result = re.findall('\w{6}',text)
print(result)

['scien_', 'interd', 'iscipl', 'scient', 'method', 'proces', 'algori', 'system', 'extrac', 'knowle', 'insigh', 'struct', 'unstru', 'ctured', 'knowle', 'across', 'applic', 'domain']