In [1]:
#Pickle in python is primirily used in serializing and deserializing a python object structure . 
#In other words, its the process of converting a python object into a bute stream to store it in a file/database,
#maintain program state across sessions, or transport data over the next

In [2]:
"""The pickle module implements binary protocols for serializing and de-serialzing a python object structure. " 
Picking is the process whereby a python object hierarchy is converted into a bute stream and unplicking" is inverse operation.
whereby a bute stream (from a binary file or bute-like object) is converted back into an object hierarchy. Picking ( and 
unpickling) is alternatively known as "serialization", "marshalling", 1 or flattening; however, to avoid confusion, the term 
used here are "pickling" and unpickling.
"""

'The pickle module implements binary protocols for serializing and de-serialzing a python object structure. " \nPicking is the process whereby a python object hierarchy is converted into a bute stream and unplicking" is inverse operation.\nwhereby a bute stream (from a binary file or bute-like object) is converted back into an object hierarchy. Picking ( and \nunpickling) is alternatively known as "serialization", "marshalling", 1 or flattening; however, to avoid confusion, the term \nused here are "pickling" and unpickling.\n'

In [3]:
#application
# it is mainly used to convert a python object or machine learning model in a binary format ..to upload it on cloud
# and retrive it from cloud whenever it requires.
# to interact with APIs

In [5]:
import seaborn as sns

In [9]:
df=sns.load_dataset("tips")

In [10]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [11]:
import pickle

In [12]:
any_file_name='filen.pkl'

In [13]:
#Serialize process
pickle.dump(df,open(any_file_name,'wb'))    # wb to write to an binary code   , original code to binary

In [15]:
# unserialize
pickle.load(open(any_file_name,'rb'))    # rb- to read the binary code and convert back to original

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [20]:
#example
dic_example= {'first_name':"prashant",'last_name':"khairnar"}

In [18]:
pickle.dump(dic_example,open('test.pkl','wb'))

In [19]:
pickle.load(open('test.pkl','rb'))

{'first_name': 'prashant', 'last_name': 'khairnar'}